.about {
  position: absolute;
  width: 310px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-header {
  font-size: 32px;
  margin: 0 0 30px 0;
}

.about-separator {
  width: 98%;
  height: 1px;
  background-color: #fff;
  margin: 0 0 30px 0;
}

.about-content {
  margin: 0 0 30px 0;
}

.about-info-list {
  padding: 0;
}

.about-info-element {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 6px;
}

.svg-icon-marker {
  width: 14px;
  margin-right: 12px;
}