.last-projects {
  display: none;
}


@media screen and (min-width: 1025px) {
  .last-projects {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    left: 50%;
  }
}
